---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <div class="container">
    <h1>For Monkeys Without Jobs</h1>

    <p class="alert alert-warning">
      Unfortunately, we currently do not have any open positions–not even for internships, paid or otherwise. Sorry 🙈!
    </p>
  </div>
</DefaultLayout>
