---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import '@fortawesome/fontawesome-free/css/all.min.css'
---

<style>
a {
  text-decoration: none !important;
}
</style>

<DefaultLayout>
  <div class="container d-flex justify-content-center">
    <div>
      <h2 class="m-4">
        <a href="https://discord.gg/XXzPyCJECu" rel="noopener noreferrer" target="_blank">
          <i class="fa-brands fa-discord fa-fw"></i> Discord
          <!-- <font-awesome-icon :icon="['fab', 'discord']" fixed-width /> Discord -->
        </a>
      </h2>

      <h2 class="m-4">
        <a href="https://instagram.com/monkeyswithjobs" rel="noopener noreferrer" target="_blank">
          <i class="fa-brands fa-instagram fa-fw"></i> Instagram
          <!-- <font-awesome-icon :icon="['fab', 'instagram']" fixed-width /> Instagram -->
        </a>
      </h2>

      <h2 class="m-4">
        <a href="https://twitter.com/monkeyswithjobs" rel="noopener noreferrer" target="_blank">
          <i class="fa-brands fa-twitter fa-fw"></i> Twitter
        </a>
      </h2>

      <h2 class="m-4">
        <a href="https://www.youtube.com/channel/UCJJQat0cLsDjSPuS_fceLpw" rel="noopener noreferrer" target="_blank">
          <i class="fa-brands fa-youtube fa-fw"></i> YouTube
        </a>
      </h2>

      <h2 class="m-4">
        <a href="https://tiktok.com/@monkeyswithjobs" target="_blank">
          <i class="fa-brands fa-tiktok fa-fw"></i> TikTok
        </a>
      </h2>

      <h2 class="m-4">
        <a href="https://www.twitch.tv/m0nkeyswithjobs" target="_blank">
          <i class="fa-brands fa-twitch fa-fw"></i> Twitch
        </a>
      </h2>

      <h2 class="m-4">
        <a href="mailto:hello@monkeyswithjobs.com" rel="noopener noreferrer" target="_blank">
          <i class="fa fa-envelope fa-fw"></i> E-mail
        </a>
      </h2>
    </div>
  </div>
</DefaultLayout>
