---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<style>
  a {
    text-decoration: none;
  }
</style>

<DefaultLayout>
  <div class="container d-flex justify-content-center">
    <div>
      <h2 class="m-4">
        <a href="https://discord.gg/XXzPyCJECu" rel="noopener noreferrer" target="_blank">
          <!-- <font-awesome-icon :icon="['fab', 'discord']" fixed-width /> Discord -->
        </a>
      </h2>

      <h2 class="m-4">
        <a href="https://instagram.com/monkeyswithjobs" rel="noopener noreferrer" target="_blank">
          <!-- <font-awesome-icon :icon="['fab', 'instagram']" fixed-width /> Instagram -->
        </a>
      </h2>

      <h2 class="m-4">
        <a href="https://twitter.com/monkeyswithjobs" rel="noopener noreferrer" target="_blank">
          <!-- <font-awesome-icon :icon="['fab', 'twitter']" fixed-width /> Twitter -->
        </a>
      </h2>

      <h2 class="m-4">
        <a href="https://www.youtube.com/channel/UCJJQat0cLsDjSPuS_fceLpw" rel="noopener noreferrer" target="_blank">
          <!-- <font-awesome-icon :icon="['fab', 'youtube']" fixed-width /> YouTube -->
        </a>
      </h2>

      <h2 class="m-4">
        <a href="https://tiktok.com/@monkeyswithjobs" target="_blank">
          <!-- <font-awesome-icon :icon="['fab', 'tiktok']" fixed-width /> TikTok -->
        </a>
      </h2>

      <h2 class="m-4">
        <a href="https://www.twitch.tv/m0nkeyswithjobs" target="_blank">
          <!-- <font-awesome-icon :icon="['fab', 'twitch']" fixed-width /> Twitch -->
        </a>
      </h2>

      <h2 class="m-4">
        <a href="mailto:hello@monkeyswithjobs.com" rel="noopener noreferrer" target="_blank">
          <!-- <font-awesome-icon icon="envelope" fixed-width /> E-mail -->
        </a>
      </h2>
    </div>
  </div>
</DefaultLayout>
