---
import '@fortawesome/fontawesome-free/css/all.min.css'
---

<footer class="d-flex flex-row align-items-center justify-content-center">
  <a class="mx-2 mx-md-4" href="https://discord.gg/XXzPyCJECu" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-discord fa-fw"></i>
    <!-- <font-awesome-icon :icon="['fab', 'discord']" fixed-width /> Discord -->
  </a>
  <a class="mx-2 mx-md-4" href="https://instagram.com/monkeyswithjobs" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-instagram fa-fw"></i>
    <!-- <font-awesome-icon :icon="['fab', 'instagram']" fixed-width /> Instagram -->
  </a>
  <a class="mx-2 mx-md-4" href="https://twitter.com/monkeyswithjobs" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-twitter fa-fw"></i>
  </a>
  <a class="mx-2 mx-md-4" href="https://www.youtube.com/@MonkeysWithJobs" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-youtube fa-fw"></i>
  </a>
  <a class="mx-2 mx-md-4" href="https://tiktok.com/@monkeyswithjobs" target="_blank">
    <i class="fa-brands fa-tiktok fa-fw"></i>
  </a>
  <a class="mx-2 mx-md-4" href="https://www.twitch.tv/m0nkeyswithjobs" target="_blank">
    <i class="fa-brands fa-twitch fa-fw"></i>
  </a>
  <a class="mx-2 mx-md-4" href="mailto:hello@monkeyswithjobs.com" rel="noopener noreferrer" target="_blank">
    <i class="fa fa-envelope fa-fw"></i>
  </a>
</footer>

<style>
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  opacity: 0.25;
  transition: opacity 0.2s ease-in-out;
}

footer:hover {
  opacity: 0.75;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}
</style>
