---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <title>Monkeys With Jobs</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta data-hid="description" name="description" content="Game studio based in Austria">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:title" content="Monkeys With Jobs">
    <meta property="og:title" content="Monkeys With Jobs">
    <meta property="og:url" content="https://monkeyswithjobs.com">
    <meta property="og:description" content="Game studio based in Austria">
    <meta property="og:type" content="business.business">
    <meta property="og:image" content="https://monkeyswithjobs.com/logo.png">
    <link rel="icon" href="/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@500;700;800&display=swap" rel="stylesheet">
  </head>
  <body class="bg-darker text-gray-100 min-h-screen flex flex-col">
    <Navbar />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
